@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior:smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root{
/* --title-font: Verdana, Geneva, Tahoma, sans-serif; */
--title-font:  "Outfit", sans-serif;
--code-font: 'Courier New', Courier, monospace;
--color-accent: rgb(212, 71, 11);
--color-accent2: rgb(28, 25, 23);
--color-text: rgb(42, 14, 2);
--color-text-light: rgb(132, 103, 91);
--color-navbar: rgb(28, 25, 23, 0.9);
--color-background: rgb(244, 229, 215, 0.9);
--color-elements: #e9cbaf;

--color-scrolldown1 :rgb(42, 14, 2);
--color-scorlldown2:#c0ada5;

}



body{
  font-family: var(--code-font);
  background-color:var(--color-background);
  margin:0;
  padding:0;
  height:100%;
}

.padding{
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
}

@media only screen and (max-width: 900px) {
  .padding{
    padding-left: 7%;
    padding-right: 7%;
  }
}

a{
  text-decoration:none;
  color:inherit;

}  

/* Header Section */

  #header{
    position:sticky;
    top: 0;
    z-index: 100;
  }

 #navbar{
   padding-left: 12%;
   padding-right: 12%;
   display:flex;
   align-items:center;
   justify-content:right;
   background:linear-gradient(180deg, var(--color-accent2) 2%, var(--color-navbar)70% );
   /* background-color: var(--color-navbar); */
   width:100%;
   height:60px;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
 }

 #nav-icons-right{
  display:flex;
  align-items:center;
  justify-content:right;
  width: 50%;
 }

 #nav-icons-left{
  display:flex;
  align-items:center;
  justify-content:left;
  gap:3%;
  width: 50%;
  margin-top: 5px;
 }

 .nav-image{
  height:100%;
  max-height:60px;
  width:60px;
  filter: brightness(0) invert(1);
  animation: icon-padding-decrease 0.2s ease-in-out forwards;

 }

 .nav-image:hover{
  animation: icon-padding-increase 0.2s ease-in-out forwards;
 }

 .nav-link{
  text-decoration:none;
  text-align:center;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.2em;
  width:50%;
  height:60px;
  padding:2vh 0vh 2vh 0vh;
  margin-left:0vh;
  animation:nav-color-fade-out 0.2s ease-in-out forwards; 

}

.nav-link:hover{
  animation:nav-color-fade-in 0.2s ease-in-out forwards; 
}

@keyframes icon-padding-increase{
  0%{
    padding: 18%;
    }

 100%{
  padding: 20%;
 }
}

@keyframes icon-padding-decrease{
  0%{
    padding: 20%;
    }

 100%{
  padding: 18%;
 }
}

@keyframes nav-color-fade-in{
  0%{
    color:white;
    background-color:linear-gradient(180deg, rgba(0, 0, 0, 0.9) 70%, var(--color-accent) 90% );
    }

 100%{
  color:var(--color-accent);
   opacity: 90%;
 }
}

  @keyframes nav-color-fade-out{
  0%{
    color:var(--color-accent)
  }

 100%{
   color:white;
   background-color:linear-gradient(180deg, rgba(0, 0, 0, 0.9) 70%, var(--color-accent) 90% );
 }
}

 
/* Header-Responsive*/

@media only screen and (max-width: 900px) {
  #navbar{
   justify-content:center;
   flex:1;
   min-width:0; 
   overflow:hidden;
  }

  .nav-link{
    width:40%;
    font-size: 0.9em;
    padding-left: 15px;
    padding-right: 15px;
  }

  #nav-icons-right{
    align-items:center;
    justify-content:center;
    width:70%;
    margin-right: 7%;
   }

   #nav-icons-left{
     width: 30%;
     margin-right: 12%;
   }

   .nav-image{
    width: 50px;
   }

}

/* Hero Section */

#welcome-section{
  min-height: 100vh;
}

#welcome-section .padding{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero-title{
  margin: 0 auto;
  padding-top: 20%;
  letter-spacing: -0.07em;
  font-family: var(--title-font);
  font-size: clamp(10px,2.9vw,60px);
  line-height: 0;
  text-align: right;
} 

.hero-title h1{
  font-weight:normal;
  cursor:default;
}

.hero-title h1:first-of-type{
  margin-left: -1.5%;
  letter-spacing: -.065em;
  animation: fadeIn 0.3s ease-in forwards;
  font-size: 4.5em;
  font-weight: 450;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--color-accent2);

}

#apellido {
  font-size: 1.4em;
  color:var(--color-accent);
}

.hero-subtitle{
  text-align: right;
  font-family:  var(--code-font);
  font-size: 0.7em;
  letter-spacing: 0.05em;
  opacity: 0%;
  animation: fadeIn 0.3s ease-in 0.3s forwards;
  margin-top: -4%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 7%;
  background: linear-gradient(-1800deg, var(--color-accent2), var(--color-accent) 90% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.scroll-down-button{
  position: absolute;
  font-size: 1.2em;
  top: calc(100vh - 30px);
  left: calc(50% - 85px);
  text-align: center;
  opacity: 0%;
  border:none;
  animation: fadeIn 0.3s ease-in 0.55s forwards,
             scroll-button-pulse 2s infinite;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes scroll-button-pulse{
  0%{
    color: var(--color-scrolldown1);
  }
  50%{
    color:var(--color-scorlldown2);
  }
  100%{
    color: var(--color-scorlldown1);
  }
}

/* Hero-Responsive */
@media only screen and (max-width: 702px) {

#welcome-section{
  padding-top: 40%;
}

.hero-title{
  padding-top: 1vh;
  letter-spacing: -.03em;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 0.8;
  overflow: hidden;
}

#apellido{
  margin-left: 5px;
}

.hero-subtitle{
    margin-top: 0;
    font-size: 1.1em;
    line-height: 1;
}

h1{
  margin-bottom: 0.3em;
}

.scroll-down-button{
  left: 33vw;
}

}  

@media only screen and (max-width: 982px) and (min-width:702px) {

.hero-title{
  letter-spacing: -.08em;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 0.8;

}
  
.hero-paragraph{
  width: 100%;
  min-width: 50px;
  font-size:1em;
  margin-bottom: 2%;
}
}  

@media only screen and (max-width: 1234px) and (min-width:982px) {

#welcome-section{
  margin-top: 6vh;
  margin-bottom:10%;
}

.hero-title{
  letter-spacing: -.05em;
  font-size: 2em;
  font-weight: 400;
  line-height: 0.1;
}
}

@media only screen and (max-width: 1480px) and (min-width:1234px) {

#welcome-section{
  margin-top: 6vh;
  margin-bottom:12%;
}

.hero-title{
  letter-spacing: -.08em;
  font-size: 2.375em;
  font-weight: 400;
  line-height: 0.1;
}
}


/* Project Section */

#projects{
  height: 100%;
}

.project-flex{
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  width:100%;
  max-width: 1453px;
  height: auto;
  border:solid var(--color-accent2);
  background-color: var(--color-elements);
}

 .project-section-title{
   display:flex;
   align-items:center;
   justify-content:left;
   font-weight: normal;
   background:linear-gradient(30deg, var(--color-accent2) 60%, var(--color-accent) 100% );
   width:calc(100% + 4%);
   height:60px;
   color:white;
   margin-left:-2%;
   padding-left:2%;
 }

 .projects{
   display:flex;
   margin:2% 0% 5% 0%;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   gap:2%;
   height:100%;
   max-width: 1500px;
 }

 .project-tile{
   width:400px;
   height:400px;
   background-color:black;
   display:flex;
   color:white;
   flex-direction:column;
   animation:color-fade-out 0.2s ease-in-out forwards;
 }

 .project-tile:hover{
   cursor:pointer;
   animation:color-fade-in 0.2s ease-in-out forwards;
 }

 .project-picture{
   width:100%;
   height:350px;
   background-color:gray;
   border-bottom:white solid;
   opacity: 85%;
 }

 .project-tile h1{
   font-size:1em;
   padding:0 2% 0 2%;
   font-weight: normal;
 }

 .project-picture img{
   width:100%;
   height:350px;
   object-fit:cover;
 }

 .projects:after{
  content: "Soon... ";
  width:400px;
  height:400px;
  max-height:600px;
  max-width:600px;
  background-color:black;
  display:flex;
  color:white;
  flex-direction:column;
  animation:color-fade-out 0.2s ease-in-out forwards;
  padding: 2%;
 }

 @keyframes color-fade-in{
   0%{
     color:white;
     background-color:black;
     }

  100%{
    color:black;
    border: var(--color-accent) solid 5px;
    background-color:var(--color-accent);
  }
 }

   @keyframes color-fade-out{
   0%{
     color:black;
     border: var(--color-accent) solid 5px;
     background-color:var(--color-accent);
     }

  100%{
    color:white;
    background-color:black;
  }
 }

/*Project section responsiveness*/

 @media only screen and (max-width: 900px) {
 
  .project-section-title{
    font-size:1.1em;
    font-weight:normal;
    justify-items:left;
    width:calc(100% + 4%);
    height:60px;
    color:white;
    margin-left:-4%;
    margin-right:-4%;
    padding-left:2%;
 }

  .project-flex{
    justify-items:center;
    align-items: center;
  }

  .projects{
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2%;
  }

   .project-tile{
    width:100%;
    min-width: 304px;
    max-width:400px;
    height: 250px;
    background-color:black;
    animation:color-fade-out 0.2s ease-in-out forwards;
 }

  .project-picture{
    height: 200px;
  }

  .project-picture img{
    height: 200px;
  }
   
   .projects:after{
    display: none;
   }

 }

 /*Contact section */

 .contact-section-flex{
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   width: 50%;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   background-color:var(--color-elements);
   padding-bottom:40px;
   gap:1em;
   margin-bottom:20px;
   border: var(--color-accent2) solid;

}

 .contact-section-title{
  display:flex;
  align-items:center;
  justify-content:left;
  font-weight: normal;
  background:linear-gradient(30deg, rgba(0, 0, 0) 60%, var(--color-accent) 100% );
  width:calc(100% + 4%);
  height:60px;
  color:white;
  margin-left:-4%;
  margin-right:-4%;
  padding-left:2%;
 }

 #contact-text{
  padding: 10% 2% 0% 2%;
  display: inline-block;
  font-size: 1em;
  width: 400px;
  height: 200px;
  text-align: center;
  border: solid black;
 }

 #email-text{
  color: var(--color-accent);
 }

 .contact-tile{
   width:200px;
   height:200px;
   animation:border-color-fade-out 0.2s ease-in-out forwards;
   cursor:pointer;
 }

 .contact-tile:hover{
   animation:border-color-fade-in 0.2s ease-in-out forwards;
 }

 .contact-tile img{
   width:100%;
   height:100%;
   object-fit:contain;
   padding:20%;
 }


 @keyframes border-color-fade-in{
   0%{
     border:solid black;
   }

   100%{
     border:solid var(--color-accent);
   }
 }

 @keyframes border-color-fade-out{
   0%{
     border:solid var(--color-accent)
   }

   100%{
     border:solid black;
   }
 }

 /*Contact Section Responsive*/

  @media only screen and (max-width: 900px) {

    .contact-section-flex{
        width: 100%;
    }

    #contact-text{
      text-align: left  ;
      height: 100%;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
      border: none;
    }

    .contact-tile{
      width: 100px;
      height: 100px;
    }

  }

 /*Footer*/

 footer{
  text-align: center;
  margin-bottom: 10px;
 }